body {
    margin: 0;
    font-family: var(--font-family);
}

main {
    display: flex;
    min-height: 100dvh;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: center no-repeat url("~@/assets/img/tree.jpg");
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    max-width: calc(545px - 4rem);
}

.shadow-outline {
    text-shadow: black 0 0 0.5em;
}