body {
    margin: 0;
    font-family: var(--font-family);
}

main {
    display: flex;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    width: 100%;
    padding: 2rem;
}

/*@media (max-width: 991px) {
    .container {
        padding: 20px 10px;
    }
}*/

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}